
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/login_public/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/login_public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/login_public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_public/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/login_public/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
			<form class="login100-form validate-form" id="myForm" method="post" action="/Account/Login">
				<span class="login100-form-title p-b-33">Login</span>
                <div class="response"></div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input100" type="text" name="Username" placeholder="Username">
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>
				<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
					<input class="input100" type="Password" name="Password" placeholder="Contraseña">
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>
				<div class="container-login100-form-btn m-t-20">
					<button type="submit" class="login100-form-btn" id="submit">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!--===============================================================================================-->
	<script src="~/login_public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/login_public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="~/login_public/vendor/bootstrap/js/popper.js"></script>
	<script src="~/login_public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/login_public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="~/login_public/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/login_public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="~/login_public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="~/login_public/js/main.js"></script>
	<script type="text/javascript">
       $(document).ready(function () {
    $(document).on('click', '#submit', function (e) {
        e.preventDefault();
        var form = $("#myForm");

        $.ajax({method: 'post', url: form.attr('action'), data: form.serialize(), async: true, cache: false, success: function (data) {
                if (data.response.result == true) {

                    window.location = data.response.url;

                } else {

                    $('.response').html('<div class="alert alert-danger" role="alert">Usuario o Password Incorrecto</div>');
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
});
    </script>
</body>
</html>